/* General Settings */
:root {
  --mainColor: #f58020;
  --SecColor: #171100;
  --fontSecColor: #4c4a44;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Sen", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: white;
}
ul li {
  list-style-type: none;
}
/* Start Navbar */
.navbar {
  background-image: url("../images/navBackground.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 85px;
  text-wrap: nowrap;
}
.logo {
  width: 200px;
}
.activeSection {
  font-weight: 700;
}
.links {
  width: 40%;
}
.lang i {
  font-size: 18px;
  color: var(--mainColor);
}
@media (max-width: 991px) {
  .navbar {
    font-size: 0.75rem;
  }
  .logo {
    width: 150px;
  }
}

/* Start Section Seperation */
.section {
  min-height: 700px;
  position: relative;
}
.section::before {
  content: "";
  width: 300%;
  height: 0;
  box-shadow: 1px 1px 1px 1px #4c4a4473;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
/* End Section Seperation */

/* Start Home Section */
.home {
  gap: 30px;
}
.vision {
  width: 50%;
}
.bigText {
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 1.2;
}
.smallText {
  font-size: 1.128rem;
  color: var(--fontSecColor);
}
.ourServicesBtn {
  background-color: #171100;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 15px 40px;
  border-radius: 50px;
}
.ourServicesBtn a {
  text-decoration: none;
  color: white;
}
.visionImage {
  display: flex;
  background-color: var(--mainColor);
  height: 26.875rem;
  width: 50%;
  border-radius: 100px;
}
@media (max-width: 991px) {
  .bigText {
    font-size: 2.8rem;
  }
}

/* Start About Us Section */
.aboutBigText {
  font-weight: 400;
  position: relative;
}
.aboutBigText span {
  position: relative;
  font-weight: 700;
}
.aboutBigText span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105%;
  height: 2px;
  background-color: var(--mainColor);
}
.aboutText {
  position: relative;
}
.aboutText::before {
  content: "";
  position: absolute;
  width: 360px;
  height: 360px;
  background-color: var(--mainColor);
  border-radius: 50%;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  z-index: -1;
}

/* Start Services Section */
.services .col-16 {
  margin-bottom: 30px;
}
.services .icon {
  width: 6.25rem;
  aspect-ratio: 1 / 1;
  margin-bottom: 20px;
}
.services .icon img {
  width: 100%;
  height: 100%;
}
.services .title {
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 20px;
}
.services .description {
  font-size: 1.128rem;
  color: var(--fontSecColor);
}
@media (max-width: 1200px) {
  .services .title {
    font-size: 1.75rem;
  }
}
footer {
  height: 400px;
  background-image: url("../images/navBackground.png");
  background-size: cover;
}
