/* General Settings */
:root {
  --mainColor: #f58020;
  --SecColor: #171100;
  --fontSecColor: #4c4a44;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
  font-weight: 400;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
}
/* Start Navbar */
@keyframes showUp {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 382px;
  }
}
.navbar {
  background-image: url("../images/navBackground.png");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 85px;
  text-wrap: nowrap;
  position: relative;
}
.toggleIcon {
  display: none;
  width: 30px;
  height: 30px;
  border: 1px solid var(--mainColor);
  border-radius: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  cursor: pointer;
}
.toggleIcon span {
  display: flex;
  background-color: white;
  width: 100%;
  height: 1px;
}
.logo {
  width: 200px;
}
.activeSection {
  font-weight: 700;
}
.links {
  width: 70%;
}
.lang i {
  font-size: 18px;
  color: var(--mainColor);
}
.links ul li {
  padding: 20px;
}
.links ul li a:hover {
  text-decoration: underline !important;
}
.subMenu {
  display: none;
}
.subMenu::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 30px;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
#servicesMenu:hover .subMenu {
  display: block;
  position: absolute;
  background-image: url("../images/navBackground.png");
  background-size: cover;
  z-index: 1000;
  top: 70px;
  left: 0;
  animation: showUp 0.2s ease-in;
}
.subMenu li {
  border-bottom: 1px solid #4c4a44;
}
@media (max-width: 991px) {
  .navbar {
    font-size: 0.75rem;
  }
  .logo {
    width: 150px;
  }
  .links ul li {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  @keyframes show {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 213px;
      opacity: 1;
    }
  }
  .links {
    display: none !important;
  }
  .toggleIcon {
    display: flex;
  }
  .active {
    display: flex !important;
    position: absolute;
    top: 85px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: rgb(0 0 0 / 70%);
    padding: 20px;
    z-index: 1000;
    animation: show 0.3s;
  }
  .active ul {
    flex-direction: column;
  }
  .links ul li {
    margin-bottom: 10px;
  }
  #servicesMenu:hover .subMenu {
    display: block;
    position: initial;
    background-image: url("");
    background-size: cover;
    border: 1px solid #777;
    margin: 20px 0 0 0;
  }
  .subMenu::before {
    top: 19px;
    left: 50%;
    border-color: transparent transparent #777 transparent;
    transform: translateX(-50%);
  }
  .subMenu li {
    padding: 10px !important;
  }
}

/* Start Section Seperation */
.section:not(.section.services) {
  min-height: calc(100vh - 85px);
  max-width: 100%;
  padding: 0 60px;
  position: relative;
}
/* End Section Seperation */

/* Start Home Section */
.home {
  gap: 30px;
  background-color: #f580204d;
  border-radius: 30px;
  margin: 30px 50px;
  max-height: calc(100vh - 85px);
}
.vision {
  width: 50%;
}
.bigText {
  font-size: 3.625rem;
  font-weight: 700;
  line-height: 1.2;
}
.smallText {
  font-size: 1.128rem;
  color: var(--fontSecColor);
}
.ourServicesBtn {
  background-color: #171100;
  color: white;
  font-size: 1rem;
  border: none;
  padding: 15px 40px;
  border-radius: 6px;
}
.ourServicesBtn a {
  text-decoration: none;
  color: white;
}
.visionImage {
  display: flex;
  background-color: var(--mainColor);
  height: 26.875rem;
  width: 50%;
  border-radius: 100px;
}
@media (max-width: 1200px) {
  .bigText {
    font-size: 2.8rem;
  }
  .vision {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .visionImage {
    display: none;
  }
}
@media (max-width: 768px) {
  .bigText {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .vision {
    text-align: center;
  }
  .section:not(.section.services) {
    padding: 0 10px;
  }
  .home {
    margin: 20px 20px 50px;
  }
}

/* Start About Us Section */
.aboutBigText {
  font-weight: 400;
  position: relative;
}
.aboutBigText span {
  position: relative;
  font-weight: 700;
  display: inline-block;
}
.aboutBigText span::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 105%;
  height: 2px;
  background-color: var(--mainColor);
}
.aboutText {
  position: relative;
  overflow: hidden;
}
.aboutImage {
  border: 2px solid #f580204d;
  border-radius: 5px;
  max-width: 440px;
}
.aboutUs div img {
  width: 100%;
  max-width: 440px;
}
.aboutUs > div {
  width: 50%;
}
@media (max-width: 991px) {
  .aboutUs > div {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }
  .aboutImage {
    margin: auto;
  }
}

/* Start Services Section */
.section.services {
  padding: 0;
  background-color: #f580204d;
}
.servicesHeader {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  padding: 20px 0 0;
}
.swiper {
  width: 100%;
  padding: 20px 50px 50px !important;
}
.swiper-slide {
  border: 0.5px solid #00000080;
  border-radius: 6px;
  padding: 10px;
  height: auto !important;
  background-color: white;
  text-align: center;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
  font-weight: bold;
}
.services .icon {
  width: 90%;
  max-width: 350px;
  aspect-ratio: 1 / 1;
  margin: auto auto 20px auto;
}
.services .icon img {
  width: 100%;
  height: 100%;
}
.services .title {
  font-size: 2.25rem;
  line-height: 1;
  margin-bottom: 20px;
}
.services .description {
  font-size: 1.128rem;
  color: var(--fontSecColor);
}
@media (max-width: 1400px) {
  .services .icon {
    max-width: 180px;
  }
  .services .title {
    font-size: 1.55rem;
  }
}
@media (max-width: 767px) {
  .services .title {
    font-size: 1.35rem;
  }
  .services .description {
    font-size: 1rem;
  }
}

/* Start Footer */
footer {
  background-image: url("../images/navBackground.png");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.footerServicesHeader,
.informationHeader {
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  color: white;
  margin-bottom: 30px;
}
.information {
  width: 33.3333%;
}
.information div:not(div:nth-child(1)) {
  margin-bottom: 50px;
  color: white;
}
.information div svg {
  margin-right: 10px;
  width: 50px;
}
.footerServices {
  width: 66.6666%;
}
.footerServices div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}
.footerServices ul li {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 20px;
  }
  .information,
  .footerServices {
    width: 100%;
  }
  .footerServices div:nth-child(2) {
    gap: 10px;
  }
}
